* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/dust_scratches.png");
    background-repeat: repeat;
    color: #777777;
    line-height: 28px;
    font-family:
    font-size: 18px;

#container {
    width: 960px;
}

h1,
h2 {
    color: #4aaaa5;
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

h1 {
    font-size: 30px;
    border-bottom: 2px solid #cccccc;
}

h2 {
    font-size: 22px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header {
    background-color: #ffffff;
    margin-bottom: 40px;
    border-bottom: 2px solid #cccccc;
}

nav {
    float;right;
}

.contact {
    width: 960px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}

footer {
    text-align: center;
    font-size: 12px;
    line-height: 90px;
    border-top: 8px solid #4aaaa5;
    color: #cccccc;
    background-color: #666666;
    margin-top: 40px;
}

.module {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #dddddd;
}

#content {
    float: left;
    width: 650px;
}

.work {
    position: relative;
    overflow: auto;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
}
