* {
    box-sizing: border-box;
}

body {
    display: block;
    background-color: #ffffff;
    border-color: #dddddd;
    color: #777777;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.wrapper {
    color: #777777;
    background-color: #ffffff;
    width: 960px;
    min-height: 100%;
}

header {
    color: #4aaaa5;
    font: font-family: 'Georgia', Times, Times New Roman, serif;
}

.footer,
.push {
    height: 50px;
}